.flex-container {
    display: flex;
    gap: 16px;
    align-items: center;
}
.flex-item {
    flex: 1;
    min-width: 0;
}
.button-count-titles{
    font-size: 14px;
    font-weight: 600;
}

.supported-media{
    width: max-content;
}

.header-media-sec{
    width: max-content;
}

.media-status-indicators{
    width: max-content;
}

